#iot .action_execution {
    background-color: white;
    color: #ffffff00;
    position: absolute;
    left: -7px;
    top: 3px;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #1ea9f4;
    width: 13px;
    height: 13px;
    cursor: pointer;
    transition: background 0.15s ease, border 0.15s ease, color 0.20s ease;
}

#iot .action_execution.ineffective {
    background-color: #cff4ff;
    color: #1ea9f4;
}

#iot .action_execution.effective {
    background-color: #1ea9f4;
    color: #ffffff;
}

#iot .action_execution.becomes_ineffective {
    background-color: #9CE8FF;
    color: #0A8ED5;
    border-color: #0A8ED5;
}

#iot .action_execution.effective.becomes_ineffective,
#iot .action_execution.effective.becomes_ineffective.conflict_related,
#iot .action_execution.effective.becomes_ineffective.conflict_related.highlighted {
    background-color: #cccccc;
    color: #333333;
    border-color: #333333;
}

#iot .action_execution.becomes_effective,
#iot .action_execution.highlighted.becomes_effective,
#iot .action_execution.ineffective.conflict_related.becomes_effective,
#iot .action_execution.ineffective.conflict_related.highlighted.becomes_effective {
    background-color: #0A8ED5;
    color: #ffffff;
    border-color: #0A8ED5;
}

#iot .action_execution.deprecated {
    background-color: #ffffff;
    border-style: dashed;
    border-color: #333333;
    color: #ffffff;
}

#iot .action_execution.ineffective.conflict_related {
    border: 1px solid #ac2118;
    background: #ffddd5;
    color: #ac2118;
}

#iot .action_execution.effective.conflict_related {
    border: 1px solid #ac2118;
    background: #ac2118;
    color: #ffffff;
}

#iot .action_execution.highlighted,
#iot .action_execution.highlighted.conflict_related {
    border: 1px solid #ffe000;
    border-radius: 3px;
    background: white;
    color: white;
    padding: 0px;
}

#iot .action_execution.ineffective.highlighted,
#iot .action_execution.ineffective.highlighted.conflict_related {
    border: 1px solid #ffe000;
    background: #f8ffdc;
    color: #ffe000;
    cursor: pointer;
}

#iot .action_execution.highlighted.checked {
    border: 1px solid #ffe000;
    border-radius: 3px;
    background: #ffe000;
    color: white;
    padding: 0px;
}

/*#iot .action_execution.highlighted.feedforward_checked {
    border: 1px solid #ffe000;
    background: #f8ffdc;
    color: #ffe000;
    cursor: pointer;
} */

#iot .action_execution.becomes_snoozed,
#iot .action_execution.highlighted.becomes_snoozed,
#iot .action_execution.conflict_related.becomes_snoozed,
#iot .action_execution.highlighted.conflict_related.becomes_snoozed {
    border: 1px solid #404040;
    background: #ffffff;
    color: #ffffff;
    cursor: pointer;
}


/*
#iot .checkbox.feedforward_checked {
    border: 1px solid #1ea9f4;
    background: #e0f3ff;
    color: #1ea9f4;
    cursor: pointer;
    /*border-radius: 8px;
}

#iot .checkbox.conflict.feedforward_checked {
    border: 1px solid #ac2118;
    background: #ffddd5;
    color: #ac2118;
    cursor: pointer;
}

#iot .checkbox.highlighted.feedforward_checked {
    border: 1px solid #ffe000;
    background: #f8ffdc;
    color: #ffe000;
    cursor: pointer;
}

#iot .checkbox.checked {
    border: 1px solid #1ea9f4;
    background-color: #1ea9f4;
    color: white;
}

#iot .checkbox.conflict.checked {
    border: 1px solid #ac2118;
    background-color: #ac2118;
    color: white;
}

#iot .checkbox.highlighted.checked {
    border: 1px solid #ffe000;
    background-color: #ffe000;
    color: white;
}

#iot .checkbox.checked.feedforward_unchecked {
    border: 1px solid #404040;
    background: #f2f2f2;
    color: #f2f2f2;
    cursor: pointer;
}*/