body {
   /* background: url("img/iot.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: #f5f5f5;
    padding: 0px;
}

#iot h1 {
    background-color: #1ea9f4;
    padding: 8px;
    color: white;
}

#iot h2 .copy {
    font-weight: normal;
    font-size: 15px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#iot h2 .small {
    font-size: 15px;
}

#iot textarea {
    width: 97%;
}

#iot .devices_column {
    background: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#iot .vis-timeline {
    border: none;
}

#iot .timeline_wrapper {
    background: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#iot .device_name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    vertical-align: middle;
    height: 100%;
}

#iot h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
}

#iot .code {
    font-family: Consolas;
    max-height: 100px;
    overflow-y: auto;
}

#iot .attribute {
    font-style: italic;
    color: #333333;
    font-size: 14px;
}

#iot #reload {
    font-family: Lucida Sans Unicode;
    text-decoration: none;
    color: black;
}

#iot #reload:active {
    color: #666666;
}

#iot #reload.disabled {
    color: #cccccc;
    cursor: not-allowed;
}

#iot .thumbnail {
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}


#iot .history {
    max-height: 79px;
    min-height: 25px;
    overflow-y: auto;
}

#iot .future {
    max-height: 79px;
    min-height: 25px;
    overflow-y: auto;
}

#iot .log_item {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    margin-bottom: 1px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 13px;
}

#iot .log_item img {
    width: 14px;
}

#iot .log_item:hover {
    background-color: #ffffdf;
}

#iot .highlighted {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ffe000;
    border-radius: 3px;
    background: #ffffdf;
}

#iot #iot_button .log_item.highlighted {
    background-color: #ccfaff;
    border: 1px solid #00adef;
}

#iot .hidden {
    display: none;
}

/* Timeline stuff */

#iot .vis-labelset .vis-label .vis-inner {
    height: 28px;
    font-size: 13px;
    padding-left: 0px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#iot .vis-labelset .vis-label {
    padding-top: 5px;

}

#iot .vis-labelset .vis-group-level-1.vis-label {
    padding-top: 0px;
}

#iot .vis-labelset .vis-group-level-1.vis-label .vis-inner {
     padding-top: 0px;
 }

#iot .vis-panel.vis-left  {
    width: 40px;
}

#iot .graph_wrapper {
    height: 60px;
}

#iot .graph_wrapper,
#iot #weather_temperature_graph,
#iot #hue_color_lamp_1_brightness_graph,
#iot #hue_color_lamp_2_brightness_graph,
#iot #hue_color_lamp_3_brightness_graph {
    height: 100%;
}

#iot .timeline_device {
    width: 100%;
    transition: max-height 1s ease-in-out;
    max-height: 1000px;
}

#iot .timeline_device.collapsed {
    overflow: hidden;
    height: 0px;
    border-bottom: 0px;
    max-height: 0;
}

#iot .timeline_device_main_attribute .timeline_attribute {
    height: 40px;
    width: 100%;
}

#iot #all_rules_main_attribute .timeline_attribute,
#iot #all_rules_main_attribute .timeline_device_attribute,
#iot #all_rules_main_attribute .timeline_timeline {
    height: auto;
    margin-left: 0px;
}

#iot .timeline_label {
    width: 210px;
    float: left;
    vertical-align: middle;
    display: inline-table;
    height: 100%;
}

#iot .timeline_label .label_wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 185px;
    margin: 0px;
    margin-left: 5px;
    max-height: 30px;
}

#iot .timeline_label h2 {
    font-size: 13px;
    font-weight: normal;

    line-height: 1.2;
    /*background-color: #bcffc8; */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

#iot .timeline_label img,
#iot .vis-inner img {
    /*background-color: yellow; */
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 13px;
    margin-top: 12px;
}

#iot .vis-inner img {
    margin-right: 5px;
}

#iot .timeline_timeline {
    width: auto;
    height: 43px;
    margin-left: 210px;
}

#iot .timeline_attribute {
    height: 45px;
    width: 100%;
}

#iot .timeline_attribute_label {
    width: 150px;
    float: left;
    height: 100%;
}

#iot .timeline_attribute_label h2 {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 17px;
    font-weight: normal;
    text-align: right;
}

#iot .timeline_attribute_graph {
    height: 100%;
    width: auto;
}

#iot .vis-item-content p {
    margin-bottom: 0px;
}

#iot .color_timeline .vis-item {
    border: none;
    background-color: transparent;
}

#iot .color_timeline .vis-item-content {
    padding: 0px;
}

#iot .vis-item-content input[type=checkbox] {
    margin-left: -7px;
}

#iot .vis-item.conflict {
    background-color: #ffddd559;
    color: #ac2118;
}

#iot .timeline_device {
    border-bottom: 1px solid #bfbfbf;
}

#iot .timeline_device:last-child {
    border: none;
    margin-bottom: 0px;
}

#iot .color_timeline .colored {
    width: 100%;
    height: 15px;
    display: inline-block;
}

#iot .timeline_attribute.color_attribute {
    height: 30px;
}

#iot .timeline_attribute.color_attribute h2 {
    margin-top: 5px;
}

#iot .vis-custom-time  {
    background-color: #ffe000;
    z-index: 0;
}

.vis-item {
    border: 0px;
    height: 24px;
    margin-top: 2px;
    border: 0px !important;
}

.vis-item .vis-item-content {
    padding: 0px !important;
    height: 100%;
    margin-left: 0px !important;
    width: 100%;
}

.vis-item .state_item_wrapper {
    border: 1px solid #1ea9f4;
    background-color: #e0f3ff;
    border-radius: 3px;
    height: 22px;

}

.vis-item .state_item_wrapper.conflict {
    /*border: 1px solid orange;
    background-color: #fff2dc; */
    color: #ac2118;
}

.vis-item .state_item_wrapper.conflict_related {
    border: 1px solid #ffe000;
    background-color: #faffee;
    color: #ac2118;
}

#iot .vis-item .state_item_wrapper.conflict_related,
#iot .vis-item .state_item_wrapper.action.conflict_related {
    border: 1px solid #ac2118;
}

.vis-item .state_item_wrapper.trigger,
.vis-item .state_item_wrapper.condition,
.vis-item .state_item_wrapper.action {
    border: 1px solid #ffe000;
    background-color: #f8ffdc;
}

.vis-item .state_item_arrow {
    float: left;
    width: 15px;
    height: 100%;
}


.vis-item .state_item_wrapper.trigger .state_item_arrow,
.vis-item .state_item_wrapper.condition .state_item_arrow {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #f8ffdc;
    background-color: #ffe000;
    left: -13px;
    margin-right: 1px;
    z-index: 1;
    height: 1px;
}

.vis-item .state_item_wrapper.action .state_item_arrow {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #ffe000;
    position: absolute;
    top: 50px;
    margin-top: -50px;
    margin-left: 1px;
    left: 0px;
    z-index: 1;
}

.vis-item .state_item_wrapper.action.conflict_related  {
    border: 1px solid #ffe000;
    background-color: #f8ffdc;
    color: #ac2118;
}

/*.vis-item .state_item_wrapper.action.conflict_related  .state_item_arrow {
    border-left: 13px solid #ac2118;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
} */

.vis-item .state_item_wrapper.trigger .state_item_icon,
.vis-item .state_item_wrapper.conflict .state_item_icon  {
    display: inline;
}


.vis-item .state_item_icon {
    float: left;
    margin-top: 3px;
    display: none;
}

.vis-item .state_item_icon img {
    height: 14px;
    margin-left: 14px;
    padding-top: 1px;
}

.vis-item .state_item_content {
    vertical-align: middle;
    padding-top: 4px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
    font-size: 13px;
}

.vis-item .vis-dot {
    top: 5px;
    left: 5px;
    height: 0px;
    border-color: transparent;
    background-color: transparent;
}

.vis-item.conflict .vis-item-overflow {
    overflow: visible;
    cursor: pointer;
}

.vis-point .vis_item_content {
    margin-top: 5px;
}

.vis-item.vis-point.vis-selected .vis-item-content {
    position: relative;
    margin-left: 0px !important;
}

.vis-item.vis-point.vis-selected {
    background-color: transparent;
}

.vis-item .event_item {
    background-color: #1ea9f4;
    position: absolute;
    left: -7px;
    top: 3px;
    border-radius: 7px;
    z-index: 1;
    border: 1px solid #1ea9f4;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.vis-item .event_item.conflict {
    background-color: #ac2118;
    border-color: #ac2118;
}

.vis-item .event_item.without_changes {
    background-color: #e0f3ff;
}

.vis-item .event_item.selected,
.vis-item .event_item.conflict.selected {
    background-color: #ffe000;
    border-color: #ffe000;
}

.vis-item .event_item.selected.without_changes {
    background-color: #f8ffdc;
    border-color: #ffe000;
    border-width: 1.1px;
}

#timeline_axis_state_timeline {
    position: relative;
    overflow-y: hidden;
    height: 70px !important;
    top: -31px;
}

#iot #back_button {
    height: 20px;
    cursor: pointer;
}

#iot .filters {
    display: inline-block;
    float: right;
}

#iot .state_item_wrapper.unfinished {
    position: relative;
    margin-left: 0px !important;
    width: 125px;
   /* left: 8px; */
    overflow: hidden;
    border-width: 0px;
    background-color: transparent;
}

#iot .state_item_content {
    z-index: 2;
    position: absolute;
}

#iot .state_item_wrapper .state_item_mask {
    background-image: linear-gradient(to right, rgba(224,243,255,1), rgba(255,255,255,1));
    position: absolute;
    top: 0px;
    height: 22px;
    width: 30px;
    z-index: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #1ea9f4;
    border-right-width: 0px;
}

#iot .state_item_wrapper.unfinished.action .state_item_mask {
    left: 0px;
    width: 30px;
}

#iot .state_item_wrapper.unfinished.trigger .state_item_mask,
#iot .state_item_wrapper.unfinished.condition .state_item_mask {
    left: 15px;
    width: 15px;
    height: 21px;
}

#iot .state_item_wrapper.unfinished.action .state_item_mask,
#iot .state_item_wrapper.unfinished.condition .state_item_mask,
#iot .state_item_wrapper.unfinished.trigger .state_item_mask {
    background-image: linear-gradient(to right, rgb(248, 255, 220), rgba(255,255,255,1));
    border: 1px solid #ffe000;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right-width: 0px;
}

#iot .state_item_wrapper.unfinished .state_item_content {
    padding-top: 5px;
}

#iot .state_item_wrapper.unfinished {
    border: 0px;
    height: 24px;
}

#iot .timeline_device_main_attribute .timeline_device_attributes h2 {
    color: black;
    font-size: 17px;
    text-align: left;
}

#iot .timeline_device_attributes h2 {
    width: 170px;
    text-align: left;
    color: #666666;
    font-weight: normal;
    padding-top: 7px;
    padding-left: 10px;
}

#iot .timeline_device_attribute h2 input {
    vertical-align: bottom;
    position: relative;
    top: 3px;
}

#iot .timeline_device_attribute h2 label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
#iot .timeline_device_attribute {
    height: 39px;
    clear: both;
}

#iot .state_item_wrapper.new:not(.unfinished) {
    background-color: #d4f0d6;
    border-color: #00a000;
}

#iot .state_item_wrapper.deprecated:not(.unfinished),
#iot .state_item_wrapper.deprecated.conflict_related:not(.unfinished) {
    background-color: #eeeeee;
    border-style: dashed;
    border-color: #333333;
}

#iot .state_item_wrapper.unfinished.new .state_item_mask {
    border-color: #00a000;
    background-image: linear-gradient(to right, rgb(223, 242, 223), rgba(255,255,255,1));
}

#iot .state_item_wrapper.unfinished.deprecated .state_item_mask {
    background-color: white;
    border-style: dashed;
}


#iot .graph_normal {
    fill: #e0f3ff;
    stroke-width:2px;
    stroke: #1ea9f4;
}

#iot .graph_feedforward {
    fill: #d4f0d6;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #00a000;
}

#iot .graph_causality {
    fill: #ffe000;
    stroke-width:3px;
    stroke: #ffe000;
}

#iot #timeline_axis_axis {
    position: relative;
   /* top: -31px; */
}

#iot #all_rules_main_attribute .vis-panel.vis-left {
    width: 250px;
}

#iot #all_rules_main_attribute .timeline_label {
    display: none;
}

.vis-label.vis-nesting-group:before {
    float: right;
    margin-top: 7px;
}

#iot #all_rules_main_attribute .vis-label.vis-nested-group.vis-group-level-1,
#iot #all_rules_main_attribute .vis-label.vis-nested-group.vis-group-level-2 {
    background-color: white;
}

#iot #all_rules_main_attribute .vis-label.vis-nested-group.vis-group-level-2 .vis-inner {
    margin-left: 15px;
}

#iot #all_rules_main_attribute .vis-label.vis-nesting-group.collapsed:before {
  /*  content: "+" */
}

#iot #all_rules_main_attribute .vis-label.vis-nesting-group.expanded:before {
   /* content: "-" */
}



#iot .vis-item.vis-point.vis-selected {
    background-color: transparent;
}

#iot .vis-item.vis-background .vis-item-content {
    position: absolute;
    top: 4px;
    left: 8px;
}



#iot span.state_option {
    cursor: pointer;
}

#iot span.state_option.highlighted_state {
    font-weight: bold;
}

#iot span.state_option.deprecated {
    text-decoration: line-through;
    color: dimgray;
}

#iot span.state_option.new {
    color: #00a000;
}